*{
    padding: 0 ;
    margin:0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
body {
    background-image: url("CurrencyImage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
.container{
    background-color: #6C91BF;
    padding: 1rem;
    border-radius: 2rem;
    min-height: 25vh;
    width: 50vh;
    margin-bottom: 22vh;
}
form{
    margin: 2rem 0 1rem 0;
}
form select,button{
    border: none;
    outline: none;
    background-color: antiquewhite;
    width: 100%;
}
form input{
    width: 100%;
    background-color: antiquewhite;
    font-size: 1rem;
    height: 1.5rem;
    padding-left: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i{
    margin-top: 0.3rem;
    font-size: 1.5rem;
}

.select-container img {
max-width: 2rem;
}
.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
  }

  .select-container select{
    font-size: 1rem;
    width: auto;
  }
.msg{
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
form button{
    height: 2rem;
    margin-top: 1rem;
  background-color:rgb(25, 171, 193) ;
  color: #fff;
  font-size: 1.15rem;
  cursor: pointer;
}